<div class="about us">
  <h2>
    О проекте
  </h2>
  <p>
    HighFive это сервис формирования привычек с принципиально новой системой поощрения — пятюнями.

    В отличие от лайков, они позволяют пользователям двусторонне взаимодействать, отвечать на реакции друг друга и быть
    на равных, а не мериться количеством сердечек под постом. Даешь пятюню кому-то, кто сегодня тоже бегал утром, и
    получаешь ответную.

    Ощущение единства помогает участникам легче переносить сложности на пути формирования новой привычки, а тот факт,
    что за твоим успехом кто-то наблюдает, помогает не расслабляться и продолжать добиваться цели.
  </p>
</div>
<div class="about team">
  <h2>
    Кто мы
  </h2>
  <p>
    Мы — двое студентов направления «дизайн и программирование» НИУ ВШЭ. Всю работу над проектом мы ведем вдвоем,
    начиная от идеи, заканчивая дизайном и разработкой.

    Для нас важно сделать не просто качественный проект, но и внести в него свежую идею, способную сделать жизнь людей
    хоть чуточку лучше. Мы также всегда открыты к интересным предложениям и готовы к сотрудничеству.
  </p>
  <div class="image-block">
    <div class="person">
      <%= image_tag  "amg-avatar.jpg", class: 'avatar' %>
      <p>Амгалан Доржиев</p>
    </div>
    <div class="person">
      <%= image_tag  "alina-avatar.jpg", class: 'avatar' %>
      <p>Алина Бычкова</p>
    </div>
  </div>
  <div class="subscribe about" id="subscribe">
    <h2>
      Объединяйся, вдохновляйся, становись примером
    </h2>
    <p>
      Присоединяйся к привычкам и выполняй их вместе с тысячами людей из разных уголков планеты. Отчитывайся перед
      сотнями единомышленников и приглашай друзей, ведь вместе веселее двигаться вперед и становиться лучше с каждым
      днём.
    </p>
    <%= render 'form'%>
  </div>
</div>