<section class='main'>
  <h1>
    Давай вместе
    <br>
    бегать по утрам?
  </h1>
  <h3>
    Сервис совместных привычек с системой пятюнь
  </h3>
  <%= image_tag  "hands-1.jpg", class: 'hands-img' %>
</section>
<section class="subscribe" id='subscribe'>
  <h2>
    Присоединяйся к нам
  </h2>
  <%= render 'form'%>
</section>